html {
     font-family: 'AvenirNext-Medium';
 font-weight: light;

}

.wholestyle{
    max-width: 428px;
    margin-left: 35%;
}

.wholestyle-front {
    
}


.logo {
   margin: auto;
    margin-bottom: -20px;
    margin-top: -20px;
    width: 30%;
        
    
}

.logo-login{
    margin:;
    margin-bottom: -20px;
    margin-top: -20px;
    width: 30%;
}

.h1 {
    margin-bottom: 0px;
}

.phone {
    
    height: 670px;
    max-height: 595px;
    margin-top:;
    width: 428px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.phone-index{
    height: 670px;
    max-height: 595px;
    margin-top: -5px;
    width: 30%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 35%;
}

/* Navigation Buttons */
.nav ul {
height: 100px;
list-style: none;
margin: 0 auto;
padding: 0;

}

#navmyprofile {
}

#navprofileinspect {
}

.nav{
  background-color: #5379AA;
  height: 50px;
	width: 428px;
  line-height: 40px;
    text-align: center;
    position: fixed;
    margin-bottom: -140 px;
    margin-top: 0px;
    border-top-style: solid;
    border-width: 1px;
    border-top-color: #213f60;
}

#navindicatorfrontpage {
    text-decoration: underline;
    
}

#navindicatormyprofile {
    text-decoration: underline;
}

.nav li {
    display: inline-block;
    color: #fff;
    padding: 0px 0px;
    height: 55px;

}

.linebutton {
    border-left-style: solid;
    border-top-style: none;
    border-bottom-style: none;
    border-width: 1px;
    border-color: #213f60;
}


.nav li:hover {
	cursor: pointer;
}

.nav a {
  color: #fff;
  display: block;
  height: 50px;
  text-decoration: none;
  padding: 0px 25px;
}


.background {
  height: 600px;
    width: 428px;
  text-align: center;
  background: #fff no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: -20px;
    margin-top: -30px;
}

.background-login{
  height: 670px;
   width: 428px;
  text-align: center;
  background: url(assets/fullbackground.png) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    padding-top: 30px;
    margin-bottom: -30px;
    
}

#




.first-demo-image{
    border-style: solid;
    border-width: 2px;
    border-color: #486590;
    margin-top: -23px;
    border-top: none;
    
}

.other-demo-images{
    border-style: none;
    margin-top: -25px;
}

.image-description-1 {
    background-color: #5379AA;
    height: 30px;
    margin-top: -32px;
}

.image-description-1 p {
     margin: auto;
    margin-top: -1px;
    margin-left: 1%;
    padding: 1%;
    color: white;
    float: left;
    border-radius: 5%;
    background: #336699;
    color: #fff;
    border: solid;
    border-color: #1a334c;
    line-height: 100%;
    
   
}

.image-description-1 p:hover {

	cursor: pointer;
	transition: .5s ease;
}

.image-description-buttons {
    list-style: none;
    

}

.image-description-buttons li {
    display: inline-block;
    padding: 0px 25px;
    margin-left: 10px;
    margin-top: 5px;
}


.content {
    margin-top: 20px;
    background: #fff;
}


.login {
    margin-top: 350px;
    background: #5379AA;
    height: 50px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
  text-decoration: none;
    
}



.login a {
    text-decoration: none;
    color: #fff;
    text-align: relative;
    line-height: 50px;
    font-size: 30px;
  
    
    
}

.registrer {
    margin-top: 10px;
    background: #5379AA;
    height: 50px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
  text-decoration: none;
}

.registrer a {
       text-decoration: none;
    color: #fff;
    text-align: relative;
    line-height: 50px;
    font-size: 30px;
}

.login:hover {
    cursor: pointer;
	transition: .5s ease;
    background-color: #000;
}

.registrer:hover {
    cursor: pointer;
	transition: .5s ease;
    background-color: #000;
}

.intro p {
    text-align: center;
}

.start {
    margin-top: 100px;
    background: #5379AA;
    height: 50px;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
  text-decoration: none;
}

.start a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    margin-left: 40px;
    
    
}

.registrer:hover {
    cursor: pointer;
	transition: .5s ease;
    background-color: #000;
}

#recovery {
    
    text-decoration: underline;
    color: #fff;
    text-align: relative;
    line-height: 50px;
    font-size: 15px;
}

recovery a {
    margin-top: 41%;
    margin-right: 70%;
}

#registrationskip {
    font-size: 10px;
    margin: auto;
}

#frontpageimage:hover {
    cursor: pointer;
}

#background-profile {
    background-color: #5379AA;
    height: 720px;
    margin-bottom: px;
}

#background-profileinspect {
    background-color: #5379AA;
    height: 720px;
    margin-bottom: -140px;
}

.profilepiccontainer {
    float: right;
    margin-right: 35%;
    margin-top: 5%;
}

.profilepiccontainer-inspecting {
    float: left;
    margin-left: 35.5%;
    margin-top: 5%;
}

#follow {
    float: right;
    margin-right: 55px;
    color: #fff;
    margin-top: 25%;
    
    
}

#addarttext {
    float: right;
    color: #fff;
    margin-top: 25%;
    margin-right: -53%;
    
    
}

#settings {
    float: left;
    color: #fff;
    margin: 1%;
}

#addfollow {
    margin-top: 18%;
    margin-right: -22%;
}

#addart {
    margin-top: 18%;
    margin-right: -90%;
}

#navfrontpage {

}

#fullfollowbutton:hover {
    cursor: pointer;
}

#fullfollowbutton {
    width: auto;
    margin-left: 300px;
    margin-right: 50px;
    
}

#fulladdartbutton:hover {
    cursor: pointer;
}

#artistinfo {
    float: left;
}

#artistinfo p {
    color: #fff;
    font-size: 20px;
}

div.img {
    margin: 5px;
    padding: 1px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
}

div.img a:hover img {
    border:1px solid #0000ff;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}

.gallery {
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: -20px;   
    
}


#profiledivider {
   background-color: #415773;
    height: 30px;
}

#profiledivider p {
    font-size: 30px;
}

#settingsbutton {
    float: left;
    margin: 5px;
    margin-top: 77px;
    
}

#settingsbutton:hover {
    cursor: pointer;
}


#settingsimage {
    margin-left: -10px;
}


.creds {
    margin-top: -100px;
    margin-left: 20px;
    margin-right: 80%;
    font-size: 13px;
}

#Gruppe {
    float: right;
    margin-left: 83%;
    font-size: 12px;
    margin-bottom: -100px;
}

#like:hover {
    cursor: pointer;
}

.content {
    background-color: #5379AA;
}


 /* DO NOT ADD ANYTHING BELOW THIS!! 
    ANYTHING ADDED MUST BE FOR MOBILE ONLY*/
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px)  {


}