.html {
}

.logo {
    margin: auto;
    margin-bottom: -20px;
    width: 22.5%

}


.phone {
    max-width: 428px;
    height: 1000px;
    margin: auto;
    width: 40%
}

.login  {
    text-align: center;
    margin: auto;
    height: 80px;
    width: 100px;
    background-color: #486590;

}

.background {
    height: 800px;
    width: 428px;
    background: url(assets/fullbackground.png) center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}