 /* THIS STYLE SHEET FOR MOBILE ONLY*/

html {
    height: 100%;
    width: 100%;
     font-family: 'AvenirNext-Regular';
    font-weight:;
    background-color: #5379AA;
    overflow: scroll;
    
}

body { 
    height: 100%;
    width: 100%;
    margin-left: 0%;
    margin-top: 3%;
}
   
.mobile-wrapper {
    height: 100%;
    width: 100%;
    margin-left: 0%;
}
    
    
    .logo {
        display: none;
    }

    .logo-login {
        width: 100%;
    }

.logo-registrering {
    display: none;
}

#loginbanner {
    width: 100%;
    height: 10%;
}

.login {
    height:%;
    margin-top: 3%;
    border-style: solid;
    border-width: 1px 2px 3px 2px;
    border-color: #3D3C44;
    background-color: #78AFF6;
    border-radius: 4%;
    padding: 3%;
    width: 32%;
}

.login a{
    font-size: 400%;
}


.gjest {
    height:%;
    margin-top: 13%;
    border-style: solid;
    border-width: 1px 2px 3px 2px;
    border-color: #3D3C44;
    background: #78AFF6;
    border-radius: 4%;
    padding: 3%;
    width: 32%;
    margin-left: auto;
    margin-right: auto;
}

#guest {
    font-size: 400%;
    text-decoration: none;
    color: #fff;
    line-height: 50px;
}

.gjest:hover {
	transition: .5s ease;
    background-color: #3A5577;
}

.input {
    display: block;
    margin-top: 14.5%;
    
}


#username {
    background-color: #8F9FB5;
    height: 0%;
    width: 60%;
    font-size: 300%;
    padding: 3%;
    border: none;
    border: solid 3px #3A5577;
    transition: border 0.3s;
    margin: 3%;
    border-radius: 5%;
    text-align: center;
    box-shadow: none;
}

#username:focus { 
    background-color: #fff;
}

#password {
    background-color: #8F9FB5;
    height: 0%;
    width: 60%;
    font-size: 300%;
    padding: 3%;
    border: none;
    border: solid 3px #3A5577;
    transition: border 0.3s;
    margin-bottom: 2%;
    border-radius: 5%;
    text-align: center;
    box-shadow: none;
}

#password:focus { 
    background-color: #fff;
}

#password[type="text"].focus {
  border-bottom: solid 2px #969696;
}

#username[type="text"].focus {
  border-bottom: solid 2px #969696;
}



.registrer {
    border-style: solid;
    border-width: 1px 2px 3px 2px;
    border-color: #3D3C44;
    background: #78AFF6;
    border-radius: 4%;
    padding: 3%;
    width: 32%;
}

.registrer a{
    font-size: 400%;
}

.glemt {
    width: 30%;
    margin-left: 32%;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
}


#recovery {
        font-size: 200%;

}

    .wholestyle{
        height: 100%;
        width: auto;
        margin-left: 0%;
        max-width: 100%;
        overflow: none;
        
    }
    
    #return {
     display: none;
    }

    .nav{ 
    width: 100%;
    height: 12%;
    margin-top: 3%;
    background-color: #3A5577;    
}

    .nav ul{ 
        
    width: 100%;
    height: 100%;
    display: inline-block;
   
}
    
    .nav li {
        display: inline-block;
        width: ;
        height: 100%;
        font-size: 200%;
        margin-top: 3%;
        padding: 4%;
        text-align: center;
        
    }
    
.nav li:hover {

}

.linebutton {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 200%;
    border-color: #C2D9F6;
    
    }


.intro {
    display: none;
}


.phone { 
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 90%;
    overflow: none;
    
    
}

.phone-login { 
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 90%;
    overflow: hidden;
    
}

#phone-registration {
    overflow: scroll;
}

.login:hover {
	transition: .5s ease;
    background-color: #3A5577;
}

.registrer:hover {
	transition: .5s ease;
    background-color: #3A5577;
}


.background {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background: url() center center;
}

.background-login {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background: url() center center;
}


.content {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.first-demo-image {
    
}

.image-description-1 {
    height: 30%;
    padding-bottom: 1%;
    
    
}

.image-description-buttons {
    text-align: right;
}

.image-description-1 {
}

.image-description-1 p {
    margin-top: 2%;
    font-size: 250%;
    background: #78AFF6;
    color: #fff;
    border: solid;
     border-style: solid;
    border-width: 1px 2px 3px 2px;
    border-color: #3D3C44;
    background-color: #78AFF6;
    border-radius: 5%;
    padding: 1.5%;
    margin-left: 1%;
    line-height: 90%;
    
}

.image-description-1 p:hover {
    	transition: .5s ease;
    background-color: #3A5577;
}

.image-description-buttons li {
    margin-top: 2%;
    width: 10%;
}

#frontpageimage {
    width: 100%;
    height: 100%;
}
#frontpageimage1 {
    width: 100%;
    height: 100%;
    margin-top: -4px;
}


#like {
    width: 60%;
    height: 60%;
}

#interactbutton {
    width: 60%;
    height: 60%;
}

#registrationbackground {
    width: 100%;
    overflow: hidden;
}

#registrationskip {
    border-style: solid;
    border-color: #000;
    height: 10%;
    width: 10%;
    font-size: 200%;
    border-width: 1px 1px 2px 1px;
    border-color: #3D3C44;
    margin-left: 40%;
    margin-top: 15%;
    width: 20%;
    height: 3%;
    text-decoration: none;
    color: #fff;
    margin-left: 33%;
    padding 20%;
}




 /* END OF MAINPAGE STYLING*/

.gallery {
    height: 100%;
    width: 100%;
    margin: 0;
}

#artistinfo p {
    font-size: 165%;
    margin: 2%;
}

.profileview {
    width: 100%;
}


#leonidprofilepicture{
    height: 150%;
    width: 150%;
}

.profilepiccontainer {
    margin-right: 42%;
    height: 100%;
}

#fulladdartbutton p {
    display: none;
}

#addart {
    margin-top: 15%;
    height: 10%;
    width: 10%;
    margin-left: 15%
}


.background-profile {
        height: 100%;
    width: 100%;
}

.content {
    background-color: #5379AA;
    height: 100%;
    width: 100%;
}

.wholestyle {
    background-color: #5379AA;

}

.artistinfo {
    height: 200%;
    width: 100%;
}




#profiledivider {
    font-size: 200%;
    padding-bottom: 10%;
    
}

#profiledivider p {
    line-height: 200%
}
    
#Klematis {
    height:100%;
    width: 90%;

}

#settingsimage {
    height: 100%;
    width: 100%;
}

#settings {
    display: none;
}

#settingsbutton {
    margin-top: 15%;
    height: 10%;
    width: 10%;
    margin-left: 15%;
}

 /* END OF MYPROFILE STYLING*/



#fullfollowbutton p {
    float: right;
    margin-top: 40%;
    margin-right: -80px;
    font-size: xx-large;
}

#fullfollowbutton {
    
}

#addfollow {
    margin-top: 25%;
    height: 15%;
    width: 15%;
    float: right;
    margin-right: 11%;
}

.wholestyle-front {
    height: 100%;
    width: 100%;
}

.logoindex {
    margin-left: 30%
}

.creds {
    margin-top: -400px;
}

::-webkit-input-placeholder {

 color: #fff;

}
:-moz-placeholder { /* older Firefox*/

 color: #fff;

}
::-moz-placeholder { /* Firefox 19+ */ 
 
 color: #fff; 

} 
:-ms-input-placeholder { 

 color: #fff;

}